section{
#video1{
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    top: 0;
    bottom: 0;
}
div#s1{
    
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    justify-content: center;
    font-size: larger;
    font-style: italic;
    text-align: center;
    }
}
